-ms-viewport{width:device-width}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:none}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4,#footer .box-title{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6,th,.toggle-title,.tabs-line a{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1px 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
img,iframe,object,embed{vertical-align:middle}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;box-sizing:content-box;outline:none;border-radius:none;box-shadow:none}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
label{cursor:default}
table{border-collapse:collapse;border-spacing:0}
caption{text-align:left;caption-side:top}
th{text-align:left}
@font-face{font-family:'spacetype';src:url("fonts/spacetype.eot")}
@font-face{font-family:'spacetype';font-weight:normal;font-style:normal;src:url("../font/spacetype.ttf") format('truetype'),url("../font/spacetype.woff") format('woff'),url("../font/spacetype.svg#spacetype") format("svg")}
/*
 *	Simply fast class
 */
.reset{border:none;margin:0;padding:0;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.reset td,.reset th{border:none;background:none;padding:0}
.reset > li,.reset > dt,.reset > dd{margin:0;padding:0;background:none;border:none;float:none;width:auto}
.reset li:before{display:none}
.reset:hover{text-decoration:none}
.l{float:left;display:inline}
.r{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.cfx{zoom:1;}
.cfx:after,.cfx:before{content:'';display:table;clear:both}
.break{height:1px;font-size:1px;line-height:1px;clear:both;overflow:hidden;visibility:hidden;display:block;margin:0 !important;padding:0 !important;width:100%}
.ctx{zoom:1;display:table-cell;}
.ie7 .ctx{display:block}
.ctx:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.hide,.js .jsHide{display:none}
.out,.js .jsOut{position:absolute;left:-5000px;top:-5000px}
.vhide{position:absolute;height:1px;width:1px;overflow:hidden;border:0;clip:rect(0 0 0 0);margin:-1px;padding:0}
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
.lower{text-transform:lowercase}
.upper{text-transform:uppercase}
.bold{font-weight:500}
.thin{font-weight:300}
.italic{font-style:italic}
.normal{font-style:normal}
.top{vertical-align:top}
.middle{vertical-align:middle}
.big{font-size:20px}
.small,small,.wp-caption-text,.gallery-caption,#cancel-comment-reply-link{font-size:16px}
.error,.red{color:#c00}
.green{color:#678713}
.grey{color:#999}
.nowrap{white-space:nowrap}
/* #editable - common */
.light{color:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
/*
 * Typo
 */
body{font:18px/1.55 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,th,.toggle-title,.tabs-line a,#main .box-title,#footer .box-title,.post-password-form label{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1.2em;margin:32px 0 11px}
h1,.h1{font-size:50px;}
h1:first-letter,.h1:first-letter{text-transform:uppercase}
h2,.h2{font-size:35px}
h3,.h3{font-size:30px}
h4,.h4,#footer .box-title{font-size:25px}
h5,.h5{font-size:20px}
h6,.h6,th,.toggle-title,.tabs-line a,#main .box-title,.post-password-form label{font-size:15px;text-transform:uppercase}
.h1,.h2,.h3,.h4,.h5,.h6,#main .box-title,.post-password-form label{display:block}
h1 + h2{margin-top:29px}
h2 + h6,h3 + h6,h2 + .h6,h3 + .h6{margin-top:13px}
h4 + h6,.h4 + h6,h5 + h6,.h5 + h6,#footer .box-title + h6,h4 + .h6,.h4 + .h6,h5 + .h6,.h5 + .h6,#footer .box-title + .h6{margin-top:-4px}
h6 + h1,.h6 + h1,th + h1,.toggle-title + h1,.tabs-line a + h1,#main .box-title + h1,.post-password-form label + h1{margin-top:-7px}
h6 + h2,.h6 + h2,th + h2,.toggle-title + h2,.tabs-line a + h2,#main .box-title + h2,.post-password-form label + h2{margin-top:-2px}
p{margin:0 0 11px}
blockquote{margin:.8em 0 .3em;}
blockquote p{margin:0}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);text-decoration:underline;}
a:hover{text-decoration:none}
ul,ol{margin:0 0 11px;list-style:none;padding:0}
li{padding:0 0 0 24px;margin:0 0 5px 0;position:relative;}
li ol,li ul{margin:11px 0 0}
ul > li:before{content:'';position:absolute;top:11px;margin-left:-20px;width:7px;height:7px}
ol{counter-reset:item;}
ol > li{background:none;}
ol > li:before{content:counter(item) ".";counter-increment:item;position:absolute;left:0;top:0;text-align:left}
dl{margin:0}
dt{margin:0}
dd{margin:0 0 11px;padding:0}
table{width:100%;clear:both;margin:21px 0;empty-cells:show;border-collapse:collapse;border:none}
td,th{vertical-align:middle;padding:12px 10px 11px;border:1px solid transparent;border-width:1px 0}
@media (max-width:600px){table:not(#wp-calendar) thead{display:none}
table:not(#wp-calendar) tr,table:not(#wp-calendar) td,table:not(#wp-calendar) th{display:block;border:none;padding:0 0 11px}
table:not(#wp-calendar) tr{padding:12px 0 0;border:1px solid transparent;border-width:1px 0;margin-bottom:-1px;}
table:not(#wp-calendar) tr .right{text-align:left}
}/* #editable - common */
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,th,.toggle-title,.tabs-line a,#main .box-title,#footer .box-title,.post-password-form label{color:#000;/* sn_global_title_color */font-weight:700;/* sn_css_heading_weight */}
h1,.h1{font-weight:700;/* sn_css_h1_weight */}
strong,b,.bold,dt{font-weight:700;/* sn_css_h1_weight */}
ol > li:before{font-weight:700;/* sn_css_heading_weight */}
a{color:#000;/* sn_global_link_color */}
a:hover{color:#f86366;/* sn_global_link_color_hover */}
ul > li:before{background:#ccc;/* sn_global_text_secondary_color */}
td,th{border-color:#ccc;/* sn_global_text_secondary_color */}
@media (max-width:600px){tr{border-color:#ccc;/* sn_global_text_secondary_color */}
}/* /editable */
th{margin:0;padding-top:17px;padding-bottom:15px;text-align:left}
.ie7 a[href] *{cursor:pointer}
img{max-width:100%;height:auto;}
.gm-style img{max-width:none}
.img-content,.wp-caption,.aligncenter{display:block;margin:21px 0 16px;overflow:hidden;}
.col .img-content + h2,.col .wp-caption + h2,.col .aligncenter + h2,.col .img-content + h3,.col .wp-caption + h3,.col .aligncenter + h3,.col .img-content + h4,.col .wp-caption + h4,.col .aligncenter + h4,.col .img-content + h5,.col .wp-caption + h5,.col .aligncenter + h5{margin-top:20px}
.col > .img-content:first-child,.col > .wp-caption:first-child,.col > .aligncenter:first-child,.col > a > .img-content:first-child,.col > a > .wp-caption:first-child,.col > a > .aligncenter:first-child{margin-top:7px}
.col > .img-content:last-child,.col > .wp-caption:last-child,.col > .aligncenter:last-child,.col > a > .img-content:last-child,.col > a > .wp-caption:last-child,.col > a > .aligncenter:last-child{margin-bottom:17px}
.alignright{float:right;margin:15px 0 25px 25px;}
.alignright:first-child{margin-top:15px}
.alignleft{float:left;margin:15px 25px 25px 0;}
.alignleft:first-child{margin-top:15px}
.aligncenter{display:block;margin:0 auto}
.wp-caption-text,.gallery-caption{margin-top:11px}
/*
 *	Grid
 */
.row,.row-main,.buttons{position:relative;margin:0;padding:0;zoom:1;}
.row:after,.row-main:after,.buttons:after,.row:before,.row-main:before,.buttons:before{content:'';display:table;clear:both}
.row-main{margin:0 auto;border:50px solid transparent;border-width:0 50px;max-width:1150px;}
@media (max-width: 1000px){.row-main{max-width:750px;border-width:0 20px}
}@media (max-width: 700px){.row-main{max-width:550px}
}.grid{display:block;text-align:left;font-size:0;margin-left:-50px;margin-top:32px;}
.row-main > .grid:last-child{margin-bottom:-26px}
h1 + .grid,.h1 + .grid,h2 + .grid,.h2 + .grid,h3 + .grid,.h3 + .grid,h4 + .grid,.h4 + .grid,h5 + .grid,.h5 + .grid,h6 + .grid,.h6 + .grid{margin-top:21px}
.tabs + .grid{margin-top:21px}
.grid + h1,.grid + .h1,.grid + h2,.grid + .h2,.grid + h3,.grid + .h3,.grid + h4,.grid + .h4,.grid + h5,.grid + .h5,.grid + h6,.grid + .h6{margin-top:0}
.grid + .grid{margin-top:0}
.img-content + .grid{margin-top:43px}
.grid-center{text-align:center}
.grid-right{text-align:right}
.grid-middle .col{vertical-align:middle}
.grid-bottom .col{vertical-align:bottom}
.col{position:relative;display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:18px;padding-left:50px;margin-bottom:26px;text-align:left;width:100%}
.ie7 .col{display:inline;zoom:1}
.col-side{padding-top:10px}
@media (min-width: 1001px){.col-1-1{width:100%}
.col-1-1.col-fixed{width:100%;max-width:1150px}
.push-1-1{left:100%}
.pull-1-1{left:-100%}
.col-1-2{width:50%}
.col-1-2.col-fixed{width:100%;max-width:550px}
.push-1-2{left:50%}
.pull-1-2{left:-50%}
.col-1-3{width:33.333333333333336%}
.col-1-3.col-fixed{width:100%;max-width:350px}
.push-1-3{left:33.333333333333336%}
.pull-1-3{left:-33.333333333333336%}
.col-2-3{width:66.66666666666667%}
.col-2-3.col-fixed{width:100%;max-width:750px}
.push-2-3{left:66.66666666666667%}
.pull-2-3{left:-66.66666666666667%}
.col-1-4{width:25%}
.col-1-4.col-fixed{width:100%;max-width:250px}
.push-1-4{left:25%}
.pull-1-4{left:-25%}
.col-2-4{width:50%}
.col-2-4.col-fixed{width:100%;max-width:550px}
.push-2-4{left:50%}
.pull-2-4{left:-50%}
.col-3-4{width:75%}
.col-3-4.col-fixed{width:100%;max-width:850px}
.push-3-4{left:75%}
.pull-3-4{left:-75%}
.col-1-5{width:20%}
.col-1-5.col-fixed{width:100%;max-width:190px}
.push-1-5{left:20%}
.pull-1-5{left:-20%}
.col-2-5{width:40%}
.col-2-5.col-fixed{width:100%;max-width:430px}
.push-2-5{left:40%}
.pull-2-5{left:-40%}
.col-3-5{width:60%}
.col-3-5.col-fixed{width:100%;max-width:670px}
.push-3-5{left:60%}
.pull-3-5{left:-60%}
.col-4-5{width:80%}
.col-4-5.col-fixed{width:100%;max-width:910px}
.push-4-5{left:80%}
.pull-4-5{left:-80%}
}.icon,.iconb:before,[data-icon]:before,.pager .prev:before,.pager .next:before,#menu-main li.has-submenu > a:before,#menu-breadcrumb .arr,.menu-paging .prev:before,.menu-paging .next:before,.widget_search label:before{font-family:'spacetype';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:20px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[data-icon]:before{content:attr(data-icon)}
.icon-l{font-size:24px}
a.icon{text-decoration:none}
.icon-toggle-plus:before,.toggle-title .icon:before{content:"\e600"}
.icon-toggle-minus:before,.toggle-title.open .icon:before{content:"\e601"}
.icon-spacetype:before{content:"\e602"}
.icon-social-youtube:before{content:"\e603"}
.icon-social-vimeo:before{content:"\e604"}
.icon-social-twitter:before{content:"\e605"}
.icon-social-soundcloud:before{content:"\e606"}
.icon-social-skype:before{content:"\e607"}
.icon-social-pinterest:before{content:"\e608"}
.icon-social-linkedin:before{content:"\e609"}
.icon-social-lastfm:before{content:"\e60a"}
.icon-social-instagram:before{content:"\e60b"}
.icon-social-googleplus:before{content:"\e60c"}
.icon-social-github:before{content:"\e60d"}
.icon-social-forrst:before{content:"\e60e"}
.icon-social-flickr:before{content:"\e60f"}
.icon-social-facebook:before{content:"\e610"}
.icon-social-dribbble:before{content:"\e611"}
.icon-social-deviantart:before{content:"\e612"}
.icon-social-behance:before{content:"\e613"}
.icon-slideshow-arrow-left:before,.pager .prev:before,.pager .next:before{content:"\e615"}
.icon-slideshow-arrow-right:before,.pager .next:before{content:"\e614"}
.icon-search:before,.widget_search label:before{content:"\e616"}
.icon-quotes:before{content:"\e617"}
.icon-long-arrow-left:before{content:"\e619"}
.icon-long-arrow-right:before{content:"\e618"}
.icon-hover-plus:before{content:"\e61a"}
.icon-dropdown:before,#menu-main li.has-submenu > a:before{content:"\e61b"}
.icon-crossroad:before{content:"\e61c"}
.icon-crossroad-arrow-left:before,.menu-paging .prev:before,.menu-paging .next:before{content:"\e61e"}
.icon-crossroad-arrow-right:before,.menu-paging .next:before{content:"\e61d"}
.icon-close:before,.icon-close-box:before{content:"\e61f"}
.icon-breadcrumb-arrow:before,#menu-breadcrumb .arr:before{content:"\e620"}
.message{padding:16px 25px 16px;margin:21px 0;position:relative;}
.message p{margin-bottom:0;margin-right:80px}
.message .close{position:absolute;top:24px;right:20px;text-decoration:none;line-height:13px;width:13px;height:13px;text-align:center;}
.message .close:hover{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.message .icon{font-size:13px;display:inline-block;vertical-align:top;}
.ie7 .message .icon{display:inline;zoom:1}
.message-notice{background:#ccc;}
.message-notice .icon{color:#333}
.message-success{background:#59bd5f;color:#fff;}
.message-success .icon{color:#fff}
.message-error{background:#f86367;color:#fff;}
.message-error .icon{color:#fff}
/* #editable - common */
.message-notice{background:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.toggle{margin:21px 0;padding-left:25px;position:relative}
.toggle-title a{text-decoration:none}
.toggle-title .icon{position:relative;top:1px;float:left;margin-left:-25px;font-size:15px}
.toggle-text{overflow:hidden;zoom:1}
.toggle + h1,.toggle + .h1,.toggle + h2,.toggle + .h2,.toggle + h3,.toggle + .h3,.toggle + h4,.toggle + .h4,.toggle + h5,.toggle + .h5,.toggle + h6,.toggle + .h6{margin-top:21px}
.separator{position:relative;color:transparent;height:1px;overflow:hidden;font-size:0;line-height:0;margin:40px 0 32px;}
.separator:before{content:'';display:block;width:100%;height:100%;background:#ccc}
h1 + .separator{margin-top:21px}
h2 + .separator,h3 + .separator,h4 + .separator,h5 + .separator,h6 + .separator{margin-top:22px}
.grid + .separator{margin-top:6px}
.separator-small{margin:11px 0;}
.separator-small:before{vertical-align:top;display:inline-block;width:100px}
.separator-small + p,.separator-small + ul,.separator-small + ol,.separator-small + dl{margin-top:30px}
.separator-small + h6,.separator-small + .h6{margin-top:20px}
/* #editable - common */
.separator:before{background:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.tabs-line{zoom:1;overflow:hidden;margin:0 0 21px;}
.tabs-line li{float:left;list-style:none;padding:0}
.tabs-line a{display:block;text-decoration:none;padding:17px 26px 14px;margin:0;}
.tabs-line a.active{border:1px solid transparent;border-width:1px 1px 0;padding:16px 25px 14px;position:relative;}
.tabs-line a.active:hover{text-decoration:none;cursor:default}
.tabs-line a.active:before,.tabs-line a.active:after{content:"";position:absolute;width:1000px;bottom:0;right:100%;height:1px}
.tabs-line a.active:after{right:auto;left:100%}
.tabs-wrap{position:relative}
.js .tabs-fragment{position:absolute;right:0;top:0;left:0}
.tabs-fragment.js-hide{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);height:1px}
.tabs{margin-top:21px;}
.tabs + h1,.tabs + .h1,.tabs + h2,.tabs + .h2,.tabs + h3,.tabs + .h3,.tabs + h4,.tabs + .h4,.tabs + h5,.tabs + .h5,.tabs + h6,.tabs + .h6{margin-top:21px}
/* #editable - common */
.tabs-line a.active{border-color:#ccc;/* sn_global_text_secondary_color */}
.tabs-line a.active:before,.tabs-line a.active:after{background-color:#ccc;/* sn_global_text_secondary_color */}
.tabs-line a.active:hover{color:#000;/* sn_global_link_color */}
/* /editable */
.paging-portfolio{border-top:1px solid transparent;border-bottom:1px solid transparent;padding:20px 0;margin-top:60px;line-height:24px;}
.paging-portfolio a{text-decoration:none;position:relative;top:2px}
.paging-portfolio .icon:before{font-size:24px}
/* #editable - common */
.paging-portfolio{border-color:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.section{margin:0 0 50px;text-decoration:none;display:block;}
.section .section{margin:0}
.section + .section{margin-top:-50px}
#main > .section:first-child{margin-top:-39px}
#main > .section:last-child{margin-bottom:-30px}
.section .grid:last-child{margin-bottom:-21px}
.section-boxed{max-width:1150px;margin-left:auto;margin-right:auto;padding:0 50px;}
.section-boxed .section-boxed{padding:0}
@media (max-width: 1000px){.section-boxed{max-width:750px;padding:0 20px}
}.section-fullimage{text-align:center}
.section-holder{display:table;width:100%;table-layout:fixed}
.section-inner{display:table-cell;padding:53px 0 42px}
.section-slider{z-index:5;display:block;overflow-x:hidden}
.section-slide{width:100%;}
.section-slide + .section-slide{position:absolute;left:-5000px;top:-5000px}
.section-slide.cycle-sentinel .section,.section-slide.cycle-sentinel .section-holder{overflow:hidden;display:block}
.section-map{display:block;}
.section-map .row-main{height:100%}
.section-map .map{height:100%}
#post-404{display:table-cell;vertical-align:middle;padding:50px 0}
.error404 #main{display:table;width:100%;padding-top:50px !important}
.touch .section-holder{background-attachment:scroll !important}
/* #editable - section */
.page-id-0,#post-0,.section-slide #post-0{height:auto;/* sn_css_section_min_height */background-image:none;/* sn_css_bg_image */background-repeat:no-repeat;/* sn_css_bg_repeat */background-position:0 0;/* sn_css_bg_position */background-color:transparent;/* sn_css_bg_color */background-attachment:scroll;/* sn_css_bg_attachment */-webkit-background-size:auto /* sn_css_bg_size */;-moz-background-size:auto /* sn_css_bg_size */;background-size:auto /* sn_css_bg_size */;color:#333;/* sn_css_text_color */}
.page-id-0.section-slider,#post-0.section-slider,.section-slide #post-0.section-slider{height:auto;min-height:0;/* sn_css_section_min_height */}
.page-id-0 .section-holder,#post-0 .section-holder,.section-slide #post-0 .section-holder{min-height:0;/* sn_css_section_min_height */}
.page-id-0 .section-inner,#post-0 .section-inner,.section-slide #post-0 .section-inner{vertical-align:top;/* sn_css_section_horizont_pos */}
.page-id-0 h1,#post-0 h1,.section-slide #post-0 h1,.page-id-0 .h1,#post-0 .h1,.section-slide #post-0 .h1,.page-id-0 h2,#post-0 h2,.section-slide #post-0 h2,.page-id-0 .h2,#post-0 .h2,.section-slide #post-0 .h2,.page-id-0 h3,#post-0 h3,.section-slide #post-0 h3,.page-id-0 .h3,#post-0 .h3,.section-slide #post-0 .h3,.page-id-0 h4,#post-0 h4,.section-slide #post-0 h4,.page-id-0 .h4,#post-0 .h4,.section-slide #post-0 .h4,.page-id-0 h5,#post-0 h5,.section-slide #post-0 h5,.page-id-0 .h5,#post-0 .h5,.section-slide #post-0 .h5,.page-id-0 h6,#post-0 h6,.section-slide #post-0 h6,.page-id-0 .h6,#post-0 .h6,.section-slide #post-0 .h6,.page-id-0 .box-title,#post-0 .box-title,.section-slide #post-0 .box-title{color:#000;/* sn_css_title_color */}
.page-id-0 a,#post-0 a,.section-slide #post-0 a{color:#000;/* sn_css_link_color */}
.page-id-0 a:hover,#post-0 a:hover,.section-slide #post-0 a:hover{color:#f86366;/* sn_css_link_color_hover */}
.page-id-0 ul li:before,#post-0 ul li:before,.section-slide #post-0 ul li:before,.page-id-0 .separator:before,#post-0 .separator:before,.section-slide #post-0 .separator:before,.page-id-0 .message-notice,#post-0 .message-notice,.section-slide #post-0 .message-notice{background:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .inp-text,#post-0 .inp-text,.section-slide #post-0 .inp-text,.page-id-0 .widget_search input[type="search"],#post-0 .widget_search input[type="search"],.section-slide #post-0 .widget_search input[type="search"]{color:#333;/* sn_css_text_color */border-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .inp-text:focus,#post-0 .inp-text:focus,.section-slide #post-0 .inp-text:focus,.page-id-0 .widget_search input[type="search"]:focus,#post-0 .widget_search input[type="search"]:focus,.section-slide #post-0 .widget_search input[type="search"]:focus{border-color:#333;/* sn_css_text_color */}
.page-id-0 .tabs-line a.active,#post-0 .tabs-line a.active,.section-slide #post-0 .tabs-line a.active{border-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .tabs-line a.active:before,#post-0 .tabs-line a.active:before,.section-slide #post-0 .tabs-line a.active:before,.page-id-0 .tabs-line a.active:after,#post-0 .tabs-line a.active:after,.section-slide #post-0 .tabs-line a.active:after{background-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .tabs-line a.active:hover,#post-0 .tabs-line a.active:hover,.section-slide #post-0 .tabs-line a.active:hover{color:#000;/* sn_css_link_color */}
.page-id-0 .btn span,#post-0 .btn span,.section-slide #post-0 .btn span{color:#333;/* sn_css_button_color */border-color:#333;/* sn_css_button_bg */}
.page-id-0 .btn:hover span,#post-0 .btn:hover span,.section-slide #post-0 .btn:hover span{background:#333;/* sn_css_button_bg_hover */border-color:#333;/* sn_css_button_bg_hover */color:#fff;/* sn_css_button_color_hover */}
.page-id-0 .light,#post-0 .light,.section-slide #post-0 .light{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 td,#post-0 td,.section-slide #post-0 td,.page-id-0 th,#post-0 th,.section-slide #post-0 th{border-color:#ccc;/* sn_css_text_secondary_color */}
@media (max-width:600px){.page-id-0 tr,#post-0 tr,.section-slide #post-0 tr{border-color:#ccc;/* sn_css_text_secondary_color */}
}.page-id-0 .pages a,#post-0 .pages a,.section-slide #post-0 .pages a{background-color:transparent;/* sn_css_text_color */color:transparent;/* sn_css_text_color */}
.page-id-0 .pager .prev,#post-0 .pager .prev,.section-slide #post-0 .pager .prev,.page-id-0 .pager .next,#post-0 .pager .next,.section-slide #post-0 .pager .next{color:transparent;/* sn_css_text_color */}
.page-id-0 .box-comments .info,#post-0 .box-comments .info,.section-slide #post-0 .box-comments .info{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .box-filter a.active:hover,#post-0 .box-filter a.active:hover,.section-slide #post-0 .box-filter a.active:hover{color:#000;/* sn_css_link_color */}
.page-id-0 .box-testimonial,#post-0 .box-testimonial,.section-slide #post-0 .box-testimonial{background:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .box-testimonial:after,#post-0 .box-testimonial:after,.section-slide #post-0 .box-testimonial:after{border-top-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 #menu-breadcrumb,#post-0 #menu-breadcrumb,.section-slide #post-0 #menu-breadcrumb{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 a.light,#post-0 a.light,.section-slide #post-0 a.light,.page-id-0 .light a,#post-0 .light a,.section-slide #post-0 .light a,.page-id-0 a.comment-reply-link,#post-0 a.comment-reply-link,.section-slide #post-0 a.comment-reply-link,.page-id-0 #cancel-comment-reply-link,#post-0 #cancel-comment-reply-link,.section-slide #post-0 #cancel-comment-reply-link,.page-id-0 #menu-breadcrumb a,#post-0 #menu-breadcrumb a,.section-slide #post-0 #menu-breadcrumb a{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 a.light:hover,#post-0 a.light:hover,.section-slide #post-0 a.light:hover,.page-id-0 .light a:hover,#post-0 .light a:hover,.section-slide #post-0 .light a:hover,.page-id-0 a.comment-reply-link:hover,#post-0 a.comment-reply-link:hover,.section-slide #post-0 a.comment-reply-link:hover,.page-id-0 #cancel-comment-reply-link:hover,#post-0 #cancel-comment-reply-link:hover,.section-slide #post-0 #cancel-comment-reply-link:hover,.page-id-0 #menu-breadcrumb a:hover,#post-0 #menu-breadcrumb a:hover,.section-slide #post-0 #menu-breadcrumb a:hover{color:#f86366;/* sn_css_link_color_hover */}
.page-id-0 .menu-paging .page-numbers,#post-0 .menu-paging .page-numbers,.section-slide #post-0 .menu-paging .page-numbers{color:#ccc;/* sn_css_text_secondary_color */border-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .menu-paging .page-numbers:before,#post-0 .menu-paging .page-numbers:before,.section-slide #post-0 .menu-paging .page-numbers:before{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .menu-paging a.page-numbers:hover,#post-0 .menu-paging a.page-numbers:hover,.section-slide #post-0 .menu-paging a.page-numbers:hover{border-color:#333;/* sn_css_text_color */color:#333;/* sn_css_text_color */}
.page-id-0 .menu-paging a.page-numbers:hover:before,#post-0 .menu-paging a.page-numbers:hover:before,.section-slide #post-0 .menu-paging a.page-numbers:hover:before{color:#333;/* sn_css_text_color */}
.page-id-0 .menu-paging .current,#post-0 .menu-paging .current,.section-slide #post-0 .menu-paging .current{border-color:#333;/* sn_css_text_color */color:#333;/* sn_css_text_color */}
#main .page-id-0 .box-title,#main #post-0 .box-title,#main .section-slide #post-0 .box-title{border-bottom-color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .widget_rss li cite,#post-0 .widget_rss li cite,.section-slide #post-0 .widget_rss li cite{color:#ccc;/* sn_css_text_secondary_color */}
.page-id-0 .paging-portfolio,#post-0 .paging-portfolio,.section-slide #post-0 .paging-portfolio{border-color:#ccc;/* sn_css_text_secondary_color */}
/* /editable */
.pager{margin:0;text-align:center;}
.pager .prev,.pager .next{position:absolute;z-index:101;top:50%;text-decoration:none;left:-1px;font-size:50px;line-height:1;margin-top:-25px;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-ms-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);color:#fff;}
.pager .prev:before,.pager .next:before{font-size:40px}
.pager .next{left:auto;right:-1px;}
.pager .pages{position:absolute;z-index:101;bottom:20px;left:25%;right:25%;font-size:0;}
.pager .pages a{display:inline-block;width:12px;height:12px;margin:0 5px;opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#fff;}
.pager .pages a.active{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);cursor:default}
.pager .prev,.pager .next{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}
.pager .prev:hover,.pager .next:hover{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.progress-bar{position:relative;display:block;background:#e0e0e0}
.progress-in{display:block;height:25px;width:0;background:#ccc}
.progress-text{position:absolute;top:0;left:10px;right:10px;line-height:24px;margin:0}
.skbox-overlay{position:fixed;z-index:999;left:0;top:0;width:100%;height:100%}
.skbox-window{position:absolute;z-index:1000;padding:70px 65px 45px;}
.skbox-window:focus{outline:none}
.skbox-window .skbox-content{position:relative}
.skbox-window .skbox-spc{position:absolute;left:20px;top:20px;bottom:20px;right:20px;overflow:auto}
.skbox-window .has-scroll{padding-right:20px}
.skbox-window .type-image .skbox-content{text-align:center;}
.skbox-window .type-image .skbox-content span{display:inline-block;height:100%;vertical-align:middle}
.skbox-window .type-image .skbox-spc,.skbox-window .type-image img{max-width:100%;max-height:100%;vertical-align:middle}
.skbox-close{text-decoration:none;cursor:pointer;text-decoration:none;position:absolute;right:25px;top:25px;margin:0}
.skbox-window-fixed{position:fixed}
.skbox-title{padding:15px 0 0 0;text-align:center;display:block}
.no-title .skbox-title{display:none}
.skbox-inner{position:relative;height:100%}
.skbox-window > .skbox-pages{display:none}
.skbox-slides{position:relative;height:100%}
.skbox-slide{position:absolute;left:0;top:0;width:100%;height:100%}
.skbox-window > .skbox-prev,.skbox-window > .skbox-next{position:absolute;top:50%;left:25px;text-decoration:none;line-height:50px;margin-top:-15px;text-align:center;}
.skbox-window > .skbox-prev .icon,.skbox-window > .skbox-next .icon{vertical-align:middle;display:inline-block;font-size:30px}
.skbox-window > .skbox-next{left:auto;right:25px}
.skbox-iframe{position:absolute;top:0;left:0;width:100%;height:100%}
/* #editable - common */
.skbox-overlay{background:#fff;/* sn_thickbox_overlay */opacity:.4;/* sn_thickbox_opacity */}
.skbox-slide,.skbox-window{background:#000;/* sn_thickbox_color */}
.skbox-window,.skbox-window > .skbox-close,.skbox-window > .skbox-prev,.skbox-window > .skbox-next{color:#fff;/* sn_thickbox_controls */}
/* /editable */
/*
 *	Forms
 */
.inp-text,select,.widget_search input[type="search"],.post-password-form input[type="password"]{display:block;border:2px solid transparent;padding:6px 10px;background:#fff 100% 50% no-repeat;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;height:24px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
/* #editable - common */
.inp-text,select,.widget_search input[type="search"],.post-password-form input[type="password"]{color:#333;/* sn_global_text_color */border-color:#ccc;/* sn_global_text_secondary_color */}
.inp-text:focus,select:focus,.widget_search input[type="search"]:focus,.post-password-form input[type="password"]:focus{border-color:#333;/* sn_global_text_color */}
/* /editable */
textarea.inp-text{height:auto}
.inp-fix{position:relative;display:block;padding:0 24px 0 0;}
.inp-fix .inp-text{width:100%;margin:0 -24px 0 0}
label{display:block}
select{width:100%;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@-moz-document url-prefix(){select{text-indent:-2px}
}@media (-webkit-min-device-pixel-ratio:0){select{-webkit-appearance:button;padding-right:22px;background-image:url("../img/bg/select.png")}
}.btn{display:inline-block;vertical-align:middle;margin:0;padding:0;border:none;text-decoration:none;background:none;margin:5px 7px 5px 0;}
.ie7 .btn{display:inline;zoom:1}
.right .btn,.btn.r{margin-right:0}
.btn span{display:block;font:500 18px/1.55 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#333;border:2px solid #333;text-transform:uppercase;padding:9px 50px 9px;-webkit-transition:border-color .3s ease, background-color .3s ease, color .3s ease;-moz-transition:border-color .3s ease, background-color .3s ease, color .3s ease;-ms-transition:border-color .3s ease, background-color .3s ease, color .3s ease;-o-transition:border-color .3s ease, background-color .3s ease, color .3s ease;transition:border-color .3s ease,background-color .3s ease,color .3s ease}
.btn:hover span{background:#333;border-color:#333;color:#fff}
.btn-block{display:block;margin-right:0;}
.btn-block + .btn-block{margin-top:10px !important}
.btn-s span{padding:4px 40px 4px}
.btn-l span{padding:14px 50px 14px}
.buttons{font-size:0;margin:30px -12px 11px;}
.buttons .btn{margin:5px 12px}
.buttons + p{margin-bottom:30px}
/* #editable - common */
.btn span{color:#333;/* sn_global_button_color */border-color:#333;/* sn_global_button_background */}
.btn:hover span{background:#333;/* sn_global_button_bg_hover */border-color:#333;/* sn_global_button_bg_hover */color:#fff;/* sn_global_button_color_hover */}
/* /editable */
.video{position:relative;padding:56.25% 0 0;}
.video object,.video embed,.video iframe{position:absolute;left:0;top:0;width:100%;height:100%}
.video p{display:none}
.twitter-tweet{margin:21px 0 16px !important}
.social-icon{text-decoration:none}
#mq{position:absolute;top:-5000px;left:0;}
@media (min-width: 701px){#mq{left:701px}
}@media (min-width: 1001px){#mq{left:1001px}
}/* #editable - common */
a.light,.light a,a.comment-reply-link,#cancel-comment-reply-link,#menu-breadcrumb a{color:#ccc;/* sn_global_text_secondary_color */}
a.light:hover,.light a:hover,a.comment-reply-link:hover,#cancel-comment-reply-link:hover,#menu-breadcrumb a:hover{color:#f86366;/* sn_global_link_color_hover */}
/* /editable */
body{position:relative;}
body.admin-bar{margin-top:-28px}
/* #editable - common */
body{color:#333;/* sn_global_text_color */font-weight:400;/* sn_css_text_weight */padding-top:60px;/* sn_css_padding_top */background-color:#fff;/* sn_global_page_background_color */background-image:none;/* sn_global_page_background_image */background-repeat:no-repeat;/* sn_global_page_background_repeat */background-position:0 0;/* sn_global_page_background_position */background-attachment:scroll;/* sn_global_page_background_attachment */-webkit-background-size:auto /* sn_global_page_background_size */;-moz-background-size:auto /* sn_global_page_background_size */;background-size:auto /* sn_global_page_background_size */}
/* /editable */
#loader{position:fixed;z-index:90;top:0;left:0;width:100%;height:100%;}
/* #editable - common */
#loader{background-color:#fff;/* sn_global_loader_color */background-image:none;/* sn_global_loader_image */background-repeat:no-repeat;/* sn_global_loader_repeat */background-position:0 0;/* sn_global_loader_position */background-attachment:scroll;/* sn_global_loader_attachment */-webkit-background-size:auto /* sn_global_loader_size */;-moz-background-size:auto /* sn_global_loader_size */;background-size:auto /* sn_global_loader_size */}
/* /editable */
/*
 *	Base layout
 */
#header{position:absolute;top:0;left:0;width:100%;z-index:99;border-bottom:1px solid transparent;}
.no-touch #header{position:fixed}
#header .row-main{padding:15px 0 14px}
#header .wrap{display:table;width:100%}
.no-fixed-header #header{position:absolute}
#logo{vertical-align:middle;display:table-cell;font:0/0 arial;margin:0;padding:0;height:60px;}
#logo span{font-size:20px;line-height:30px}
#logo .toggle-menu{display:none;position:absolute;cursor:pointer;right:0;top:50%;margin-top:-15px;line-height:1}
#menu-main{text-align:right;vertical-align:middle;display:table-cell}
@media (max-width: 1000px){#logo{display:block;line-height:60px;height:auto;min-height:60px;position:relative;}
#logo .toggle-menu{display:block}
#menu-main{display:block;text-align:left}
}/* #editable - common */
#header{background-color:transparent;/* sn_header_background_color */background-image:none;/* sn_header_background_image */background-repeat:no-repeat;/* sn_header_background_repeat */background-position:0 0;/* sn_header_background_position */background-attachment:scroll;/* sn_header_background_attachment */border-color:transparent;/* sn_header_border_color */-webkit-background-size:auto /* sn_header_background_size */;-moz-background-size:auto /* sn_header_background_size */;background-size:auto /* sn_header_background_size */}
#logo .toggle-menu{color:#808080;/* sn_header_menu_color */}
/* /editable */
#main{padding-top:69px;}
#main > .row-main{padding-bottom:50px}
#footer{border-style:solid;border-width:1px 0 0;padding:40px 0;margin-top:30px;font-size:16px;}
#footer .widgets .col{width:33.333333333333336%}
#footer .widgets1 .col{width:100%}
#footer .widgets2 .col{width:50%}
/* #editable - common */
#footer{background-color:transparent;/* sn_footer_background_color */background-image:none;/* sn_footer_background_image */background-repeat:no-repeat;/* sn_footer_background_repeat */background-position:0 0;/* sn_footer_background_position */background-attachment:scroll;/* sn_footer_background_attachment */border-color:transparent;/* sn_footer_border_color */color:#ccc;/* sn_footer_text_color */-webkit-background-size:auto /* sn_footer_background_size */;-moz-background-size:auto /* sn_footer_background_size */;background-size:auto /* sn_footer_background_size */;}
#footer h1,#footer .h1,#footer h2,#footer .h2,#footer h3,#footer .h3,#footer h4,#footer .h4,#footer h5,#footer .h5,#footer h6,#footer .h6,#footer .box-title{color:#000;/* sn_footer_title_color */}
#footer a{color:#000;/* sn_footer_link_color */}
#footer a:hover{color:#f86366;/* sn_footer_link_color_hover */}
#footer ul li:before,#footer .separator:before,#footer .message-notice,#footer .tabs-line a.active:before,#footer .tabs-line a.active:after{background:#ccc;/* sn_footer_text_secondary_color */}
#footer .tabs-line a.active,#footer .inp-text{border-color:#ccc;/* sn_footer_text_secondary_color */}
#footer .btn span{color:#333;/* sn_footer_button_color */border-color:#333;/* sn_footer_button_background */}
#footer .btn:hover span{background:#333;/* sn_footer_button_background_hover */border-color:#333;/* sn_footer_button_background_hover */color:#fff;/* sn_footer_button_color_hover */}
#footer .light{color:#ccc;/* sn_footer_text_secondary_color */}
#footer td,#footer th{border-color:#ccc;/* sn_footer_text_secondary_color */}
@media (max-width:600px){#footer tr{border-color:#ccc;/* sn_footer_text_secondary_color */}
}/* /editable */
/*
 *	Menu
 */
/* Nav skip */
#menu-accessibility{position:absolute;left:-5000px;top:0;}
#menu-accessibility a:focus,#menu-accessibility a:active{position:absolute;top:0;left:5000px;width:200px;padding:2px 0 5px;z-index:900;text-align:center;background:#fff}
#menu-main{text-transform:uppercase;}
#menu-main ul{font-size:0;margin:-10px 0 -10px 0}
#menu-main a{display:block;position:relative;text-decoration:none}
#menu-main li{position:relative;display:inline-block;vertical-align:top;font-size:16px;line-height:20px;margin:20px 0 20px 40px;padding:0;}
#menu-main li:before{display:none}
#menu-main li.has-submenu > a{padding-right:22px;margin-right:-5px;}
#menu-main li.has-submenu > a:before{position:absolute;right:0;top:50%;margin-top:-5px;font-size:9px;}
@media screen and (-webkit-min-device-pixel-ratio:0){#menu-main li.has-submenu > a:before{margin-top:-3px}
}#menu-main li ul{position:relative;display:none;padding:6px 0;border:1px solid transparent;margin:15px -5px 0;text-align:left;}
#menu-main li ul:before,#menu-main li ul:after{content:'';position:absolute;top:-10px;left:17px;border:10px solid transparent;border-top:0}
#menu-main li ul:after{border-width:0 9px 9px;left:18px;top:-9px}
#menu-main li ul ul{display:none}
#menu-main li ul li{z-index:2;display:block;padding:0;margin:0 0 0;}
#menu-main li ul li a{padding:7px 16px}
@media (max-width: 1000px){#menu-main ul{display:none;margin-top:20px;}
.show-menu #menu-main ul{display:block}
#menu-main li{display:block;margin:0 0 20px;}
#menu-main li.has-submenu > a:before{display:none}
}@media (min-width: 1001px){#menu-main > ul > li > ul{position:absolute;left:-5000px;top:120%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);width:200px;display:block;-webkit-transition:opacity .6s ease-out, top .3s ease;-moz-transition:opacity .6s ease-out, top .3s ease;-ms-transition:opacity .6s ease-out, top .3s ease;-o-transition:opacity .6s ease-out, top .3s ease;transition:opacity .6s ease-out,top .3s ease;margin:0}
#menu-main > ul > li:hover{z-index:2;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:20px;}
#menu-main > ul > li:hover > ul{left:-17px;top:100%;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}/* #editable - common */
#menu-main a{color:#808080;/* sn_header_menu_color */}
#menu-main .current-menu-item > a,#menu-main .current-menu-ancestor > a,#menu-main .current_page_parent > a,#menu-main a:hover{color:#000;/* sn_header_menu_color_hover */}
#menu-main > ul > li:hover > a{color:#000;/* sn_header_menu_color_hover */}
#menu-main li ul{border-color:#ebebeb;/* sn_header_submenu_border */background:#fff;/* sn_header_submenu_bg */}
#menu-main li ul:before{border-bottom-color:#ebebeb;/* sn_header_submenu_border */}
#menu-main li ul:after{border-bottom-color:#fff;/* sn_header_submenu_bg */}
.error404 #menu-main .current_page_parent > a{color:#808080;/* sn_header_menu_color */}
.error404 #menu-main .current_page_parent > a:hover{color:#000;/* sn_header_menu_color_hover */}
/* /editable */
#menu-breadcrumb{color:#ccc;margin-bottom:21px;}
#menu-breadcrumb a{display:inline-block;margin-right:10px}
#menu-breadcrumb .arr{margin-right:10px;font-size:0;}
#menu-breadcrumb .arr:before{font-size:8px;position:relative;top:-1px}
#menu-breadcrumb + h1,#menu-breadcrumb + h2{margin-top:0}
/* #editable - common */
#menu-breadcrumb{color:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.menu-paging{margin-top:44px;font-size:0;}
.menu-paging .page-numbers{position:relative;display:inline-block;vertical-align:middle;font-size:18px;line-height:26px;min-width:26px;min-height:26px;padding:5px;text-align:center;margin-right:15px;border:2px solid transparent;text-decoration:none}
.menu-paging .dots{border:none;height:34px;min-width:0;padding:0}
.menu-paging .prev,.menu-paging .next{font:0/0 a;color:transparent;text-decoration:none;}
.menu-paging .prev:before,.menu-paging .next:before{position:absolute;font-size:16px;top:50%;left:50%;margin:-8px 0 0 -9px}
.menu-paging .next:before{margin-left:-7px}
/* #editable - common */
.menu-paging .page-numbers{color:#ccc;/* sn_global_text_secondary_color */border-color:#ccc;/* sn_global_text_secondary_color */}
.menu-paging .page-numbers:before{color:#ccc;/* sn_global_text_secondary_color */}
.menu-paging a.page-numbers:hover{border-color:#333;/* sn_global_text_color */color:#333;/* sn_global_text_color */}
.menu-paging a.page-numbers:hover:before{color:#333;/* sn_global_text_color */}
.menu-paging .current{border-color:#333;/* sn_global_text_color */color:#333;/* sn_global_text_color */}
/* /editable */
/*
 *	Crossroads
 */
.crossroad-articles .post{margin-top:32px}
.crossroad-articles .line{padding:0 5px}
.crossroad-articles .sticky{border:0 solid transparent}
.crossroad-comments{margin-top:32px;}
.crossroad-comments h3{margin-bottom:21px}
.crossroad-comments ul{margin:0;padding:0}
.crossroad-comments li{position:relative;padding-left:85px;font-size:16px;min-height:62px;}
.crossroad-comments li:before{display:none}
.crossroad-comments li + li,.crossroad-comments li ul li{margin-top:32px}
.crossroad-comments ul ul{margin-left:-60px}
.crossroad-comments .img{position:absolute;top:3px;left:0}
.crossroad-comments .title{font-size:13px}
.crossroad-comments .h6{display:inline}
.crossroad-comments .bypostauthor .img{background:transparent}
.comment-respond{margin:32px 0 0;}
.comment-respond h3{margin-bottom:16px}
.comment-respond p{margin-bottom:21px}
.form-submit{display:none}
.comment-awaiting-moderation{margin:0}
.pager-articles{margin:32px 0 0;}
.pager-articles .l,.pager-articles .r{width:45%}
.pager-articles .r{text-align:right}
.comment-form-author,.comment-form-email,.comment-form-url{max-width:350px}
/* #editable - common */
.comment-awaiting-moderation{font-weight:700;/* sn_css_heading_weight */}
/* /editable */
.crossroad-portfolio .col > a{display:block;position:relative}
.crossroad-portfolio .img-content{position:relative}
.crossroad-portfolio .caption{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,0.3);opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.crossroad-portfolio a:hover .caption{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.crossroad-portfolio .holder{display:none}
.crossroad-portfolio .text{display:table-cell;text-align:center;vertical-align:middle;padding:25px;}
.crossroad-portfolio .text .icon{font-size:25px}
@media (max-width: 1000px){.crossroad-portfolio .col{width:33.333%}
}@media (max-width: 700px){.crossroad-portfolio .col{width:50%}
}@media (max-width: 500px){.crossroad-portfolio .col{width:auto;max-width:300px;margin-left:auto;margin-right:auto;display:block}
}/*
 *	Box
 */
.box-side{margin-bottom:41px;font-size:16px;}
#footer .box-side{margin-bottom:26px}
.box-side ul > li:before{top:10px}
#main .box-title{margin-top:0;margin-bottom:17px;padding-bottom:12px;border-bottom:1px solid transparent}
#footer .box-title{margin-top:0}
.widget_meta ul a,.widget_categories ul a,.widget_pages ul a,.widget_archive ul a{text-decoration:none;}
.widget_meta ul a:hover,.widget_categories ul a:hover,.widget_pages ul a:hover,.widget_archive ul a:hover{text-decoration:underline}
.widget_tag_cloud .tagcloud a{text-decoration:none;margin-right:7px;}
.widget_tag_cloud .tagcloud a:hover{text-decoration:underline}
.widget_search .box-title{display:none}
.widget_search .screen-reader-text{display:none}
.widget_search .search-form{position:relative}
.widget_search input[type="search"]{padding-right:46px}
.widget_search label{position:relative;display:block;padding:0 60px 0 0;}
.widget_search label input{width:100%;margin-right:-60px}
.widget_search label:before{font-size:16px;position:absolute;right:12px;top:50%;margin-top:-8px}
.widget_search .search-submit,.widget_search #searchsubmit{position:absolute;right:2px;top:2px;background:none;border:none;padding:0;text-indent:100%;white-space:nowrap;overflow:hidden;width:36px;height:36px}
.widget_calendar{position:relative;}
.widget_calendar th,.widget_calendar td{padding:6px 0 0;border:none;text-align:center;font-size:18px}
.widget_calendar th{padding-top:0}
.widget_calendar th,.widget_calendar caption,.widget_calendar tfoot td{font-size:15px}
.widget_calendar tfoot td{padding-top:10px;text-align:left}
.widget_calendar tfoot #next{text-align:right}
.widget_calendar caption{position:absolute;right:0;top:-3px}
.widget_rss .box-title a:first-child{display:none}
.widget_rss .box-title a{text-decoration:none}
.widget_rss ul{margin:0;padding:0}
.widget_rss li{margin:0 0 15px;padding:0;}
.widget_rss li:before{display:none}
.widget_rss li .rsswidget{display:block;text-decoration:none;}
.widget_rss li .rsswidget:hover{text-decoration:underline}
.widget_rss li .rss-date{display:block;margin-bottom:11px;font-size:14px}
.widget_rss li .rssSummary{display:block;margin-bottom:11px}
.widget_rss li cite{font-style:normal}
.widget_instagram .box-title,.widget_action .box-title{margin-bottom:20px}
.widget_instagram ul,.widget_action ul{font-size:0;font-size:0;margin:0 0 -20px -20px}
.widget_instagram ul > *,.widget_action ul > *{display:inline-block;vertical-align:top;width:50%;font-size:"Helvetica Neue",Helvetica,Arial,sans-serif}
.ie7 .widget_instagram ul > *,.ie7 .widget_action ul > *{display:inline;zoom:1}
.widget_instagram li,.widget_action li{padding:0 0 20px 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.widget_video .box-title{margin-bottom:20px}
.widget_twitter .text{display:block}
.widget_twitter li{margin-bottom:15px}
.widget_portfolio .box-title{margin-bottom:20px}
.widget_portfolio li{margin-bottom:15px}
.widget_social ul{padding-top:5px;margin:0 0 -10px -10px}
.widget_social li{display:inline-block;margin:0 0 10px 10px;line-height:24px}
.widget_social a{text-decoration:none}
.widget_social .icon{font-size:24px}
/* #editable - common */
.widget_calendar tbody td{font-weight:700;/* sn_css_h1_weight */}
.widget_rss li .rsswidget{font-weight:700;/* sn_css_heading_weight */}
#main .box-title{border-bottom-color:#ccc;/* sn_global_text_secondary_color */}
.widget_rss li cite{color:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.box-filter{clear:both;margin-bottom:32px;}
h2 + .box-filter,h3 + .box-filter{margin-top:21px}
.box-filter p{margin-bottom:-21px}
.box-filter a{display:inline-block;margin-right:23px;margin-bottom:21px;text-decoration:none;}
.box-filter a:hover{text-decoration:underline}
.box-filter a.active{text-decoration:underline;}
.box-filter a.active:hover{color:#333;cursor:default}
/* #editable - common */
.box-filter a.active:hover{color:#000;/* sn_global_link_color */}
/* /editable */
.box-author{clear:both;margin-top:32px;}
.box-author h3{margin-bottom:15px}
.box-author .img{float:left;margin:9px 0 0 -85px}
.box-author .separator{margin-bottom:20px}
.box-author p{margin:0;padding-left:85px;overflow:hidden;zoom:1}
.box-article-top{margin-bottom:21px}
.box-article-bottom{clear:both;margin-top:21px}
.box-likes{height:20px;font:0/0 a;margin:21px 0;}
.box-likes .item{text-align:left;width:90px;overflow:hidden;display:inline-block;vertical-align:middle;}
.ie7 .box-likes .item{display:inline;zoom:1}
.box-likes .item > *{vertical-align:top}
.box-likes .item-fb{width:auto;margin-right:13px}
.box-likes .item-gp{width:73px}
.box-video,.box-map,.box-audio{margin:21px 0 16px}
.box-slides{margin:21px 0 16px;position:relative;overflow:hidden;z-index:2;}
.box-slides .slide{width:100%;margin:0;}
.box-slides .slide + .slide{display:none}
.box-slides .slide + .cycle-slide{display:block}
.box-testimonial{padding:15px 20px;position:relative;margin-bottom:130px;}
.box-testimonial .img{text-align:center;line-height:80px}
.box-testimonial .text{margin-bottom:21px}
.box-testimonial .avatar{display:block;position:absolute;bottom:-115px;left:50%;margin-left:-40px;width:86px;}
.box-testimonial .avatar img{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px}
.box-testimonial .after{width:0;height:0;border:15px solid transparent;border-width:15px 15px 0;position:absolute;bottom:-15px;left:50%;margin-left:-15px}
.col > .box-testimonial{margin-top:5px}
.box-testimonial.no-image{margin-bottom:19px;}
.box-testimonial.no-image .after{display:none}
/* #editable - common */
.box-testimonial{background:#ccc;/* sn_global_text_secondary_color */}
.box-testimonial .after{border-top-color:#ccc;/* sn_global_text_secondary_color */}
/* /editable */
.box-quote{position:relative;padding-top:70px;margin-top:50px;}
.box-quote:before{content:url("../img/img20.png");position:absolute;top:0;left:50%;margin-left:-25px}
.box-quote .author{margin-top:21px}
.box-quote .name{display:block;margin-bottom:15px}
/*
 *	Form
 */
#form-contact .col{margin-bottom:21px}
.post-password-form p{margin-bottom:21px}
.post-password-form input[type="password"]{margin:11px 0 0}
.post-password-form label{margin:0 0 16px;position:relative;display:block;padding:0 24px 0 0;}
.post-password-form label input{width:100%;margin-right:-24px}
.post-password-form input[type="submit"]{display:none}
:first-child{margin-top:0}
