$icon
	font-family $fontIco
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	font-size 20px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon
	@extend $icon

.iconb
	&:before
		@extend $icon

[data-icon]
	&:before
		@extend $icon
		content attr(data-icon)


.icon-l
	font-size 24px

a.icon
	text-decoration none

.icon-toggle-plus
	&:before
		content "\e600"

.icon-toggle-minus
	&:before
		content "\e601"

.icon-spacetype
	&:before
		content "\e602"

.icon-social-youtube
	&:before
		content "\e603"

.icon-social-vimeo
	&:before
		content "\e604"

.icon-social-twitter
	&:before
		content "\e605"

.icon-social-soundcloud
	&:before
		content "\e606"

.icon-social-skype
	&:before
		content "\e607"

.icon-social-pinterest
	&:before
		content "\e608"

.icon-social-linkedin
	&:before
		content "\e609"

.icon-social-lastfm
	&:before
		content "\e60a"

.icon-social-instagram
	&:before
		content "\e60b"

.icon-social-googleplus
	&:before
		content "\e60c"

.icon-social-github
	&:before
		content "\e60d"

.icon-social-forrst
	&:before
		content "\e60e"

.icon-social-flickr
	&:before
		content "\e60f"

.icon-social-facebook
	&:before
		content "\e610"

.icon-social-dribbble
	&:before
		content "\e611"

.icon-social-deviantart
	&:before
		content "\e612"

.icon-social-behance
	&:before
		content "\e613"

.icon-slideshow-arrow-left
	&:before
		content "\e615"

.icon-slideshow-arrow-right
	&:before
		content "\e614"

.icon-search
	&:before
		content "\e616"

.icon-quotes
	&:before
		content "\e617"

.icon-long-arrow-left
	&:before
		content "\e619"

.icon-long-arrow-right
	&:before
		content "\e618"

.icon-hover-plus
	&:before
		content "\e61a"

.icon-dropdown
	&:before
		content "\e61b"

.icon-crossroad
	&:before
		content "\e61c"

.icon-crossroad-arrow-left
	&:before
		content "\e61e"

.icon-crossroad-arrow-right
	&:before
		content "\e61d"

.icon-close
.icon-close-box
	&:before
		content "\e61f"

.icon-breadcrumb-arrow
	&:before
		content "\e620"




