.paging-portfolio
	border-top 1px solid transparent
	border-bottom 1px solid transparent
	padding 20px 0
	margin-top 60px
	line-height 24px
	a
		text-decoration none
		position relative
		top 2px
	.icon
		&:before
			font-size 24px



/*! #editable - common */

.paging-portfolio
	border-color $colorGrey /*! sn_global_text_secondary_color */

/*! /editable */