.progress-bar
	position relative
	display block
	background lighten($colorGrey, 40%)
.progress-in
	display block
	height 25px
	width 0px
	background $colorGrey
.progress-text
	position absolute
	top 0
	left 10px
	right 10px
	line-height 24px
	margin 0