// Colors
$color = #333
$colorTitle = #000
$colorLink = #000
$colorHover = #f86366
$colorPink = #f86366
$colorGrey = #ccc
$colorGray = #f3f3f3
$colorWhite = #fff

$colorButton = #333
$colorButtonBg = #333
$colorButtonHover = #fff
$colorButtonBgHover = #333

$colorMenu = #808080
$colorMenuHover = #000

$colorError = #f86367
$colorOk = #59bd5f


// Fonts
$font = "Helvetica Neue", Helvetica, Arial, sans-serif
$fontTitles =  $font
$fontIco = 'spacetype'

// Base font size and line height
$fontSize = 18px
$lineHeight = 1.55

// Base margin top
$marginTop = 32px
// Base margin bottom
$marginBottom = 11px
// Margin diff for margins combos
$marginDiff = $marginTop - $marginBottom
// Margin for border or background (tabs, messages, table, video)
$marginFill = 21px 0 16px
$marginTopFill = $marginFill[0]
// Grid
$width = 1150px
$gutter = 50px
$cols = 1 2 3 4 5
//tablet
$widthT = 750px
$gutterT = 20px

$support-for-ie = true

// Paths
$img = '../img/'
$ieRGBA = '../img/rgba.php'
$bg = '../img/bg/all.png'

