/*
@font-face
	font-family 'Code'
	font-style normal
	font-weight normal
	src url('../font/code_light-webfont.eot')
	src url('../font/code_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/code_light-webfont.woff') format('woff'),
		url('../font/code_light-webfont.ttf') format('truetype'),
		url("../font/code_light-webfont.svg#Code") format("svg")
*/

@font-face
	font-family 'spacetype'
	src url('fonts/spacetype.eot')

@font-face
	font-family 'spacetype'
	font-weight normal
	font-style normal
	src url('../font/spacetype.ttf') format('truetype'),
		url('../font/spacetype.woff') format('woff'),
		url("../font/spacetype.svg#spacetype") format("svg")
