.box-author
	clear both
	margin-top $marginTop
	h3
		margin-bottom $marginDiff - 6
	.img
		float left
		margin 9px 0 0 -85px
	.separator
		margin-bottom 20px
	p
		margin 0
		padding-left 85px
		overflow hidden
		zoom 1