.box-likes
	height 20px
	font 0px/0px a
	margin $marginDiff 0
	.item
		text-align left
		width 90px
		overflow hidden
		inline-block(middle)
		> *
			vertical-align top
	.item-fb
		width auto
		margin-right 13px
	.item-gp
		width 73px