.box-quote
	position relative
	padding-top 70px
	margin-top 50px
	&:before
		content url(../img/img20.png)
		position absolute
		top 0
		left 50%
		margin-left -25px
	.author
		margin-top $marginDiff
	.name
		display block
		margin-bottom 15px